body,
ul,
li,
h1,
h2,
a {
    margin: 0;
    font-family: arial;
}
header {
    background-color: #F63232;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1 {
    color: #fff;
    border: 8px solid #fff;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}
.banner {
    position: relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome {
    background-color: #FEB614;
    color: #fff;
    padding: 30px;
    position: absolute;
    left: 0;
    bottom: 30%;
}
.banner h2 {
    font-size: 74px;
}
.banner h2 span {
    font-size: 1.3em;
}
nav {
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 105px;
}
nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a {
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.join {
    color: #F63232;
    ;
}
main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2 {
    color: #f63232;
    font-size: 48px;
}

article p {
    line-height: 2em;
    color: #4b4b4b;
}
.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li {
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img {
    max-width: 100%;
}
.join {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
